body {
    font-family: Arial, sans-serif;
    background-color: grey;
}

h2 {
    color: blue;
}

.container {
    width: 22%;
    margin: 0 auto;
    padding: 20px;
    background-color: bisque;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.toptext {
    color: black;
    margin-bottom: 10px;
}

.formular {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.row {
    display: flex;
    /* Flexbox für die Zeile */
    align-items: center;
    margin-bottom: 10px;
    /* Vertikale Ausrichtung */
}

label {
    margin-right: 8px;
    /* Abstand zwischen Label und Input/Select */
}

input,
select {
    padding: 3px;
    border: 1px solid #ccc;
    /* Korrektur: border muss solid sein */
    border-radius: 2px;
    width: 200px;
    margin-right: 15px;
    /* Breite der Eingabefelder */
}


.Textfeld {
    margin: 20px 0;
}

#ticketfeld {
    width: 85%;
    /* Feste Breite */
    height: 150px;
    /* Feste Höhe */
    padding: 10px;
    /* Innenabstand */
    border: 1px solid #ccc;
    /* Rahmen */
    border-radius: 4px;
    /* Abgerundete Ecken */
    font-family: Arial, sans-serif;
    /* Schriftart */
    font-size: 14px;
    /* Schriftgröße */
    resize: none;
    /* Verhindert das Verändern der Größe */
}