body {
    font-family: Arial, sans-serif;
    background-color: grey;
}

h2 {
    color: blue;
}

.container {
    width: 30%;
    margin: 0 auto;
    padding: 1.25em;
    background-color: bisque;
    border: 1px solid #ccc;
    border-radius: 0;
}

.toptext {
    color: black;
    margin-bottom: 0.625em;
}

.formular {
    display: flex;
    flex-direction: column;
    gap: 0.99em;
}

.row {
    display: flex;
    width: 600;
    /* Flexbox für die Zeile */
    align-items: center;
    margin-bottom: 0.625em;
    /* Vertikale Ausrichtung */
}

label {
    margin-right: 0.5em;
    /* Abstand zwischen Label und Input/Select */
}

input,
select {
    padding: 0.5625em;
    border: 0,625 solid #ccc;
    border-radius: 1.25em;
    width: 8.4em;
    margin-right: 0.99em;
}


.Textfeld {
    margin: 1.3em 0;
}

#ticketfeld {
    width: 85%;
    height: 9.375em;
    padding: 0.625em;
    border: 0.5625em solid #ccc;
    border-radius: 0.25em;
    font-family: Arial, sans-serif;
    font-size: 0.9em;
    resize: none;
}

.submit-button {
    margin-top: 1.875em;
    display: block;
    margin: 1.3em auto;
    background-color: #333;
    color: aliceblue;
    border: none;
    padding: 0.625em 1.3em;
    cursor: pointer;
    border-radius: 0.3em;
    justify-content: center;
    align-items: center;

}

.ticket-label {
    margin-bottom: 0.625em;
}

/* Popup-Fenster */
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    width: 18.75em;
    background-color: bisque;
    padding: 1.3em;
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .popup-content {
    text-align: center;
  }
  
  .popup-content button {
    margin-top: 0.625em;
  }
  
.readonly {
width: 3em;
 } 

 /*  body {
    font-family: Arial, sans-serif;
  } */