body {
    font-family: Arial, sans-serif;
    background-color: grey;
}

h2 {
    color: blue;
}

.container {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    background-color: bisque;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.toptext {
    color: black;
    margin-bottom: 10px;
}

.formular {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.row {
    display: flex;
    width: 600;
    /* Flexbox für die Zeile */
    align-items: center;
    margin-bottom: 10px;
    /* Vertikale Ausrichtung */
}

label {
    margin-right: 8px;
    /* Abstand zwischen Label und Input/Select */
}

input,
select {
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 135px;
    margin-right: 15px;
}


.Textfeld {
    margin: 20px 0;
}

#ticketfeld {
    width: 85%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    resize: none;
}

.submit-button {
    margin-top: 30px;
    display: block;
    margin: 20px auto;
    background-color: #333;
    color: aliceblue;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
    align-items: center;

}

.ticket-label {
    margin-bottom: 10px;
}