<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ticketformular</title>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="toptext">
                <h2>Ticket</h2>
                <p>Bitte alle Felder ausfüllen</p>
            </div>
            <div class="formular">
                <form action="/submit-ticket" method="post">
                    <div class="row">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name">
                    </div>
                    <div class="row">
                        <label for="station">Station:</label>
                        <select id="station" name="station">
                            <option value disabled selected>-- Wählen
                                --</option>
                            {% for station in stations %}
                            <option value="{{station[0] }}">{{
                                station[1]}}</option>
                            {% endfor %}
                        </select>
                        <label for="fehler">Fehler:</label>
                        <select name="fehler" id="fehler">
                            <option value disabled selected>-- Wählen
                                --</option>
                            {% for error in errors %}
                            <option value="{{ error[0]}}">{{ error[1]
                                }}</option>
                            {% endfor %}
                        </select>
                     
                        <label for="prio">Prio:</label> 
                            <input class="readonly" type="text" id="prio" name="prio" value="fehler" readonly><br><br> 
                                                   
                    </div>
                    <div class="Textfeld">
                        <p class="ticket-label">Inhalt des Tickets: </p>
                        <textarea
                            name="ticketfeld"
                            id="ticketfeld" cols="35" rows="10"
                            placeholder="Hier Ticket Text"
                            style="width: 550;
                            height: 150;"></textarea>
                        

                        
                        <button type="submit" onclick="zeigePopup()"
                            class="submit-button">Senden</button> 
                            <div id="popup" class="popup">
                                <div class="popup-content">
                                  <p>Das Ticket wurde erfolgreich abgeschickt!</p>
                                  <!-- <button type="button" onclick="closePopup()">Ok</button> -->
                                </div>
                              </div>
                            
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>


<script>

    function prio() {

    }

    function zeigePopup() {
        document.getElementById("popup").style.display = "block";   
    }

/*     function closePopup() {
        document.getElementById("popup").style.display = "none";
        location.reload(); 
    }  */
    </script>
<!--<select id="farbe" name="farbe">
    <optgroup label="Hauptfarben">
        <option value="rot">Rot</option>
        <option value="blau">Blau</option>
        <option value="grün">Grün</option>
    </optgroup>
    <optgroup label="Sekundärfarben">
        <option value="gelb">Gelb</option>
        <option value="orange">Orange</option>
        <option value="lila">Lila</option>
    </optgroup>
</select>
-->